pool:
  vmImage: 'ubuntu-latest'

variables:
  GRADLE_USER_HOME: $(Pipeline.Workspace)/.gradle

steps:
  - task: CacheBeta@0
    inputs:
      key: $(Agent.OS)
      path: $(GRADLE_USER_HOME)
    displayName: "Gradle: setup build cache"

  - task: Gradle@2
    displayName: "Gradle: build"
    inputs:
      workingDirectory: ''
      gradleWrapperFile: 'gradlew'
      gradleOptions: '-Xmx3072m -Dorg.gradle.parallel=true -Dorg.gradle.caching=true'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.8'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/TEST-*.xml'
      tasks: 'check jacocoTestReport'

  - script: |
      ./gradlew --stop
    displayName: "Gradle: stop daemon"

  - script: |
      bash <(curl -s https://codecov.io/bash) -t "${CODECOV_TOKEN}"
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)
    displayName: "Codecov: publish coverage"